/**********************************

Name: cmxform Styles

***********************************/

form.cmxform legend {
	padding-left: 0;
}

form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
div.error { display: none; }

input:focus { border: 1px dotted black; }
input.error {  }
